$body-font-family: 'Noto Sans';
$border-radius-root: 6px;
$tabs-item-min-width: 40px;
$tabs-item-min-height: 40px;
$tabs-bar-height:	56px;
$dialog-max-height:	98%;
$data-table-border-radius: 1;
$divider-inset-margin:	0px;
$select-chips-box-enclosed-selections-min-height: 40px;	
